body.error {
    width: 80%;
    margin: 50px auto;
}

body.error .trace {
    margin: 20px 0 0 0;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
}

.confirmation {
    min-width: 12em;
}