#sidebar .zone {
    color: green;
}

#sidebar .active,#sidebar .zone {
    font-weight: bold;
}

#sidebar .active a {
    color: white;
}

.pac-container:after {
    background: none !important;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px ) {

    body, html, .row-offcanvas {
        height: 100%;
    }

    #sidebar {
        width: inherit;
        min-width: 320px;
        max-width: 320px;
        float: left;
        height: 100%;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #main {
        height: 100%;
        overflow: auto;
    }

    /*
     * off Canvas sidebar
     * --------------------------------------------------
     */
    @media screen and (max-width: 768px) {
        .row-offcanvas {
            position: relative;
            -webkit-transition: all 0.25s ease-out;
            -moz-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
            width: calc(100% + 320px);
        }

        .row-offcanvas-left {
            left: -320px;
        }

        .row-offcanvas-left.active {
            left: 0;
        }

        .sidebar-offcanvas {
            position: absolute;
            top: 0;
        }
    }
}
